{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>MediCare</title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'MediCare/images/Normal/favicon.png' %}"
    />

    <!-- CSS Files -->
    <link
      rel="stylesheet"
      href="{% static 'MediCare/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'MediCare/css/all.min.css' %}" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'MediCare/css/admin/style.css' %}" />
  </head>

  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <header class="header">
        {% include 'hospital_admin/hospital-admin-navbar.html' %}
      </header>
      <!-- /Header -->

      <!-- Sidebar -->
      <aside class="sidebar" id="sidebar">
        {% include 'hospital_admin/hospital-admin-sidebar.html' %}
      </aside>
      <div class="sidebar-overlay" id="sidebarOverlay"></div>
      <!-- /Sidebar -->

      <!-- Page Wrapper -->
      <div class="page-container view-worker">
        <div class="content container-fluid">
          <!-- Page Header -->
          <div class="page-header">
            <div class="row">
              <div class="col-12">
                <div class="text-center">
                  <h1 class="page-title mb-0">
                    <i class="fa-solid fa-flask"></i>
                    Lab-Workers List
                  </h1>
                </div>
              </div>
            </div>
          </div>
          <div class="lab-workers-container">
            <div class="card">
              <div class="card-content">
                <div class="table-wrapper table-responsive">
                  <table class="lab-workers-table">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for lab_worker in lab_workers %}
                      <tr>
                        <td>
                          <div class="user-info">
                            <img
                              src="{{lab_worker.featured_image.url}}"
                              alt="{{lab_worker.name}} profile photo"
                              class="user-avatar"
                            />
                            <a href="#" class="user-name"
                              >{{lab_worker.name}}</a
                            >
                          </div>
                        </td>
                        <td>{{lab_worker.username}}</td>
                        <td>{{lab_worker.email}}</td>
                        <td>{{lab_worker.phone_number}}</td>
                        <td>
                          <a
                            href="{% url 'edit-lab-worker' pk=lab_worker.technician_id %}"
                            class="edit-btn"
                          >
                            <i class="fas fa-edit"></i> Edit
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Wrapper -->
    </div>
    <!-- /Main Wrapper -->

    <!-- Scripts -->
    <script src="{% static 'MediCare/js/jquery.min.js' %}"></script>
    <script src="{% static 'MediCare/js/popper.min.js' %}"></script>
    <script src="{% static 'MediCare/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'MediCare/js/all.min.js' %}"></script>
    <script src="{% static 'MediCare/js/admin.js' %}"></script>
  </body>
</html>
