{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>MediCare</title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'MediCare/images/Normal/favicon.png' %}"
    />

    <!-- CSS Files -->
    <link
      rel="stylesheet"
      href="{% static 'MediCare/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'MediCare/css/all.min.css' %}" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'MediCare/css/admin/style.css' %}" />
  </head>

  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Header -->
      <header class="header">
        {% include 'hospital_admin/labworker-navbar.html' %}
      </header>
      <!-- /Header -->

      <!-- Sidebar -->

      <aside class="sidebar" id="sidebar">
        {% include 'hospital_admin/labworker-sidebar.html' %}
      </aside>
      <div class="sidebar-overlay" id="sidebarOverlay"></div>

      <!-- Page Wrapper -->
      <div class="page-container dashboard lab-worker-dash">
        <!-- Page Header -->
        <div class="page-header">
          <h1 class="page-title">Welcome Back Lab-Worker!</h1>
          <div class="breadcrumb">Dashboard Overview</div>
        </div>

        <div class="doctor-list">
          {% for doctor in doctor %}
          <div class="doctor-card">
            <div class="doctor-avatar">
              <img
                src="{{doctor.featured_image.url}}"
                alt="{{doctor.name}}"
                class="avatar-image"
              />
              <span class="doctor-id">#{{doctor.doctor_id}}</span>
            </div>

            <div class="doctor-info">
              <h3 class="doctor-name">
                <a href="#">{{doctor.name}}</a>
              </h3>
              <div class="doctor-contact">
                <div class="contact-item">
                  <i class="fas fa-phone"></i>
                  <span>{{doctor.phone_number}}</span>
                </div>
                <div class="contact-item">
                  <i class="fas fa-envelope"></i>
                  <span>{{doctor.email}}</span>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- /Page Wrapper -->
    </div>
    <!-- /Main Wrapper -->

    <!-- Scripts -->
    <script src="{% static 'MediCare/js/jquery.min.js' %}"></script>
    <script src="{% static 'MediCare/js/popper.min.js' %}"></script>
    <script src="{% static 'MediCare/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'MediCare/js/all.min.js' %}"></script>
    <script src="{% static 'MediCare/js/admin.js' %}"></script>
  </body>
</html>
