{% load static %}

<div class="sidebar-inner">
  <div class="sidebar-menu">
    <ul>
      <li>
        <a href="{%url 'labworker-dashboard' %}"
          ><i class="fas fa-home"></i><span>Dashboard</span></a
        >
      </li>
      <li>
        <a href="{%url 'mypatient-list' %}"
          ><i class="fa-solid fa-hospital-user"></i>
          <span>Patient List</span></a
        >
      </li>
      <li>
        <a href="{%url 'test-list' %}"
          ><i class="fa-solid fa-vial-circle-check"></i
          ><span>Test List</span></a
        >
      </li>
    </ul>
  </div>
</div>
