{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>MediCare</title>
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'MediCare/images/Normal/favicon.png' %}"
    />

    <!-- CSS Files -->
    <link
      rel="stylesheet"
      href="{% static 'MediCare/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'MediCare/css/all.min.css' %}" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'MediCare/css/admin/style.css' %}" />
  </head>
  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Header -->
      <header class="header">
        {% include 'hospital_admin/pharmacist-navbar.html' %}
      </header>
      <!-- /Header -->

      <!-- Sidebar -->

      <aside class="sidebar" id="sidebar">
        {% include 'hospital_admin/pharmacist-sidebar.html' %}
      </aside>
      <div class="sidebar-overlay" id="sidebarOverlay"></div>

      <div class="page-container view-medicines">
        <div class="content container-fluid">
          <!-- Page Header -->
          <div class="page-header">
            <div class="row">
              <div class="col-12">
                <div class="text-center">
                  <h1 class="page-title mb-0">
                    <i class="fa-solid fa-pills"></i>
                    Medicines List
                  </h1>
                </div>
              </div>
            </div>
          </div>

          <div class="top-nav-search">
            <form action="{% url 'medicine-list' %}" method="GET">
              <input
                type="text"
                class="form-control"
                placeholder="Search medicine"
                name="search_query"
                value="{{search_query}}"
              />
              <button class="btn" type="submit">
                <i class="fe fe-search"></i>
              </button>
            </form>
          </div>

          <div class="medicines-container">
            <div class="card">
              <div class="card-content">
                <div class="table-wrapper table-responsive">
                  <table class="lab-medicines-table">
                    <thead>
                      <tr>
                        <th>Medicine Name</th>
                        <th>Stock Quantity</th>
                        <th>Medicine Type</th>
                        <th>Medicine Category</th>
                        <th>Price</th>
                        <th>Each Quantity</th>
                        <th>Edit Medicine</th>
                        <th>Delete Medicine</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for medicine in medicine %}
                      <tr>
                        <td>
                          <div class="user-info">
                            <img
                              src="{{medicine.featured_image.url}}"
                              alt="{{medicine.name}} Image"
                              class="user-avatar"
                            />
                            <a href="#" class="user-name">{{medicine.name}}</a>
                          </div>
                        </td>
                        <td>{{medicine.stock_quantity}}</td>
                        <td>{{medicine.medicine_type}}</td>
                        <td>{{medicine.medicine_category}}</td>
                        <td>{{medicine.price}}</td>
                        <td>{{medicine.quantity}}</td>
                        <td>
                          <a
                            href="{% url 'edit-medicine' pk=medicine.serial_number %}"
                            class="edit-btn"
                            ><i class="fas fa-edit"></i>Edit</a
                          >
                        </td>
                        <td>
                          <a
                            href="{% url 'delete-medicine' pk=medicine.serial_number %}"
                            onclick="return confirm('Are you sure you want to Delete?');"
                            class="delete-btn"
                            ><i class="fa-solid fa-trash"></i>Delete</a
                          >
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Main Wrapper -->

    <!-- Scripts -->
    <script src="{% static 'MediCare/js/jquery.min.js' %}"></script>
    <script src="{% static 'MediCare/js/popper.min.js' %}"></script>
    <script src="{% static 'MediCare/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'MediCare/js/all.min.js' %}"></script>
    <script src="{% static 'MediCare/js/admin.js' %}"></script>
  </body>
</html>
