{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>MediCare</title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'MediCare/images/Normal/favicon.png' %}"
    />

    <!-- CSS Files -->
    <link
      rel="stylesheet"
      href="{% static 'MediCare/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'MediCare/css/all.min.css' %}" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'MediCare/css/admin/style.css' %}" />
  </head>

  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Header -->
      <header class="header">
        {% include 'hospital_admin/labworker-navbar.html' %}
      </header>
      <!-- /Header -->

      <!-- Sidebar -->

      <aside class="sidebar" id="sidebar">
        {% include 'hospital_admin/labworker-sidebar.html' %}
      </aside>
      <div class="sidebar-overlay" id="sidebarOverlay"></div>
      <div class="page-container lab-worker">
        <div class="patient-list">
          {% for p in patient %}
          <div class="patient-card">
            <div class="patient-avatar">
              <img
                src="{{p.featured_image.url}}"
                alt="{{p.name}}"
                class="avatar-image"
              />
              <span class="patient-id">#{{p.patient_id}}</span>
            </div>

            <div class="patient-info">
              <h3 class="patient-name">
                <a href="{% url 'prescription-list' pk=p.patient_id %}"
                  >{{p.name}}</a
                >
              </h3>
              <div class="patient-contact">
                <div class="contact-item">
                  <i class="fas fa-phone"></i>
                  <span>{{p.phone_number}}</span>
                </div>
                <div class="contact-item">
                  <i class="fas fa-envelope"></i>
                  <span>{{p.email}}</span>
                </div>
              </div>
            </div>

            <div class="patient-status">
              <a
                href="{% url 'prescription-list' pk=p.patient_id %}"
                class="status-badge"
              >
                Pending Reports
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- /Page Wrapper -->
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->

    <!-- Scripts -->
    <script src="{% static 'MediCare/js/jquery.min.js' %}"></script>
    <script src="{% static 'MediCare/js/popper.min.js' %}"></script>
    <script src="{% static 'MediCare/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'MediCare/js/all.min.js' %}"></script>
    <script src="{% static 'MediCare/js/admin.js' %}"></script>
  </body>
</html>
