{% load static %}
<div class="header-left">
  <a href="{% url 'admin-dashboard' %}" class="logo">
    <img
      src="{% static 'MediCare/images/Normal/logo.png' %}"
      alt="Logo"
      class="logo-full"
    />
  </a>
  <a href="{% url 'admin-dashboard' %}" class="logo logo-small">
    <img
      src="{% static 'MediCare/images/Normal/favicon.png' %}"
      alt="Logo"
      class="logo-icon"
    />
  </a>
  <button id="toggle_btn" class="toggle-btn" aria-label="Toggle sidebar">
    <i class="fas fa-bars"></i>
  </button>
  <button class="mobile-btn" id="mobile_btn" aria-label="Mobile menu toggle">
    <i class="fas fa-bars"></i>
  </button>
</div>

<nav class="user-menu">
  <div class="nav-item dropdown">
    <a href="#" class="user-dropdown" id="userDropdown">
      <span class="user-img">
        <img
          src="{{pharmacist.featured_image.url}}"
          alt="{{pharmacist.name}}"
        />
      </span>
      <span class="user-name">{{pharmacist.name}}</span>
      <span class="user-name-mobile">{{pharmacist.name}}</span>
      <i
        class="fas fa-chevron-down"
        style="font-size: 12px; margin-left: 5px"
      ></i>
    </a>
    <div class="dropdown-menu" id="userDropdownMenu">
      <div class="user-header">
        <div class="avatar">
          <img
            src="{{pharmacist.featured_image.url}}"
            alt="{{pharmacist.name}}"
          />
        </div>
        <div class="user-text">
          <h6>{{pharmacist.name}}</h6>
          <p>Pharmacist</p>
        </div>
      </div>
      <!-- <a
        class="dropdown-item"
        href="{%url 'hospital-admin-profile' pk=user.id %}"
      >
        <i class="fas fa-user"></i>My Profile
      </a> -->
      <a class="dropdown-item" href="{% url 'admin-logout' %}">
        <i class="fas fa-sign-out-alt"></i>Logout
      </a>
    </div>
  </div>
</nav>
