{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MediCare</title>
    <!-- Favicons -->
    <link
      type="image/x-icon"
      href="{% static 'MediCare/images/Normal/favicon.png' %}"
      rel="icon"
    />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
      rel="stylesheet"
    />
    <!-- CSS Files -->
    <link
      rel="stylesheet"
      href="{% static 'MediCare/css/bootstrap.min.css' %}"
    />

    <link rel="stylesheet" href="{% static 'MediCare/css/all.min.css' %}" />

    <!-- Main CSS -->
    <link
      rel="stylesheet"
      href="{% static 'MediCare/css/pharmacy/style.css' %}"
    />
  </head>

  <body>
    <div class="main-wrapper">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <!-- Logo -->
          <a class="navbar-brand" href="#">
            <img
              src="{% static 'MediCare/images/Normal/logo.png' %}"
              alt="MediCare Pharmacy Logo"
            />
          </a>

          <!-- Mobile Toggle Button -->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarContent"
            aria-controls="navbarContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>

          <!-- Navigation Content -->
          <div class="collapse navbar-collapse" id="navbarContent">
            <!-- Main Navigation Links -->
            <ul class="navbar-nav ms-auto mb-lg-0">
              <li class="nav-item">
                <a href="{% url 'pharmacy_shop'%}" class="nav-link">
                  <span>Shop</span>
                </a>
              </li>

              <li class="nav-item cart d-none d-lg-block">
                <a href="{% url 'cart' %}" class="nav-link">
                  <div class="cart-icon-wrapper">
                    <i class="fas fa-cart-shopping"></i>
                    <span class="badge badge-cart"
                      >{{order.count_cart_items}}</span
                    >
                  </div>
                </a>
              </li>
            </ul>

            <!-- Desktop Search -->
            <div class="search-box ms-lg-4 d-none d-lg-block">
              <form action="{% url 'pharmacy_shop' %}" method="GET">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search medicine..."
                  name="search_query"
                  value="{{search_query}}"
                />
              </form>
            </div>

            <!-- Mobile Search and Cart -->
            <div class="mobile-bottom-wrapper d-flex d-lg-none">
              <div class="search-box">
                <form action="{% url 'pharmacy_shop' %}" method="GET">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search medicine..."
                    name="search_query"
                    value="{{search_query}}"
                  />
                </form>
              </div>
              <div class="nav-item cart">
                <a href="{% url 'cart' %}" class="nav-link">
                  <div class="cart-icon-wrapper">
                    <i class="fas fa-cart-shopping"></i>
                    <span class="badge badge-cart"
                      >{{order.count_cart_items}}</span
                    >
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <section class="single-product">
        <div class="container">
          <div class="product-grid">
            <div class="product-image">
              <a href="#" class="image-popup">
                <img
                  src="{{ medicines.featured_image.url }}"
                  alt="Medicine Picture"
                />
              </a>
            </div>
            <div class="product-details">
              <h1>{{ medicines.name }}</h1>
              <p class="price">{{ medicines.price }} EGP</p>
              <p class="description">
                A small river named Duden flows by their place and supplies it
                with the necessary regelialia. It is a paradisematic country, in
                which roasted parts of sentences fly into your mouth.
              </p>
              <p class="description">{{medicines.description }}</p>
              <a
                href="{% url 'add-to-cart' pk=medicines.serial_number %}"
                class="add-to-cart-btn"
                >Add to Cart</a
              >
            </div>
          </div>
        </div>
      </section>
    </div>

    {% include 'footer.html' %}

    <!-- Scripts -->
    <script src="{% static 'MediCare/js/jquery.min.js' %}"></script>
    <script src="{% static 'MediCare/js/popper.min.js' %}"></script>
    <script src="{% static 'MediCare/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'MediCare/js/all.min.js' %}"></script>
    <script src="{% static 'MediCare/js/script.js' %}"></script>
  </body>
</html>
