{% load static %}

<footer class="footer">
  <div class="container-fluid">
    <!-- Footer About Widget -->
    <div class="footer-widget footer-about">
      <div class="footer-logo">
        <img
          src="{% static 'HealthStack-System/images/Normal/footer_logo.png' %}"
          alt="logo"
        />
      </div>
      <div class="footer-about-content">
        <p>
          MediCare is an online platform connecting multiple hospitals, offering
          emergency medical assistance. It allows tracking, monitoring, and
          sharing of patient health records across hospitals. Patients can
          access information about hospitals and doctors, and schedule
          appointments online
        </p>
        <br />
        <div class="social-icon">
          <ul>
            <li>
              <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Footer About Widget -->

    <!-- Footer Contact Widget -->
    <div class="footer-widget footer-contact">
      <h2 class="footer-title">Contact Us</h2>
      <div class="footer-contact-info">
        <div class="footer-address">
          <span><i class="fas fa-map-marker-alt"></i></span>
          <p>Qena, Qena Government</p>
        </div>
        <div class="phone">
          <i class="fas fa-phone-alt"></i>
          Not Provided
        </div>
        <div class="mail">
          <i class="fas fa-envelope"></i>
          <a href="mailto:medicaresvu@gmail.com">medicaresvu@gmail.com</a>
        </div>
      </div>
    </div>
    <!-- /Footer Contact Widget -->
  </div>
</footer>
