{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>MediCare</title>

    <!-- Favicons -->
    <link
      type="image/x-icon"
      href="{% static 'MediCare/images/Normal/favicon.png' %}"
      rel="icon"
    />

    <!-- CSS Files -->
    <link
      rel="stylesheet"
      href="{% static 'MediCare/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'MediCare/css/all.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'MediCare/css/Normal/style.css' %}"
    />
  </head>
  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Header -->
      <header class="header">{% include 'navbar_home.html' %}</header>
      <!-- header -->

      <!-- Landing Section -->
      <section class="section section-landing">
        <div class="container-fluid">
          <div class="image-container">
            <img
              src="../static/MediCare/images/Normal/landing.png"
              alt="Hospital Staff"
            />
          </div>
          <div class="description-container">
            <h1>Welcome to Our<br />Hospital Management System <br> <span class="project-name">MediCare</span></h1>
            <p>
              Streamline your hospital operations with our cutting-edge Hospital
              Management System. From patient records to appointment scheduling,
              our platform ensures accuracy, efficiency, and seamless
              communication across all departments.
            </p>
            <a href="#hospitals">Our Hospitals</a>
          </div>
        </div>
      </section>

      <!-- Our Hospitals -->
      <section id="hospitals" class="section section-hospitals">
        <div class="container">
          <div class="text-center mb-4">
            <h2 class="section-title">Our Hospitals</h2>
            <p class="section-subtitle">
              Here You can access multiple hospitals. You can book your
              appointment from your doctor & can collect all hospital
              information from here.
            </p>
          </div>
          <div
            id="hospitalCarousel"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
              {% for hospital in hospitals %}
              <button
                type="button"
                data-bs-target="#hospitalCarousel"
                data-bs-slide-to="{{ forloop.counter0 }}"
                class="{% if forloop.first %}active{% endif %}"
                aria-current="true"
                aria-label="Slide {{ forloop.counter }}"
              ></button>
              {% endfor %}
            </div>
            <div class="carousel-inner">
              {% for hospital in hospitals %}
              <div
                class="carousel-item {% if forloop.first %}active{% endif %}"
              >
                <div>
                  <div class="text-center position-relative">
                    <img
                      src="{{ hospital.featured_image.url }}"
                      alt="{{ hospital.name }}"
                      class="img-fluid"
                    />

                    {% if user.is_authenticated and user.is_hospital_admin %}
                    <a
                    href="hospital_admin/edit-hospital/{{ hospital.hospital_id }}"
                    class="position-absolute"
                      >
                    {% else %}
                      <a
                    href="hospital-profile/{{ hospital.hospital_id }}"
                    class="position-absolute"
                      >
                    {% endif %}
                      {{ hospital.name }}
                    </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>

            <!-- Controls -->
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#hospitalCarousel"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#hospitalCarousel"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </section>

      <!-- Doctors Section -->
      <section class="section section-doctors">
        <div class="container">
          <div class="text-center mb-4">
            <h2 class="section-title">Our Doctors</h2>
            <p class="section-subtitle">
              You can book doctors from any hospital here.
            </p>
          </div>

          <div class="doctors-container">
            {% for doctor in doctors %}
            <div class="doctor">
              <div class="doctor-img">
                {% if user.is_authenticated and user.is_hospital_admin %}
                <a href="/hospital_admin/admin-doctor-profile/{{doctor.pk}}"></a>
                {% else %}
                <a href="{% url 'doctor:doctor-profile' doctor.pk %}">
                {% endif %}
                  <img
                    src="{{ doctor.featured_image.url }}"
                    alt="{{ doctor.name }}"
                    class="img-fluid"
                  />
                </a>
              </div>

              <div class="doctor-name">{{ doctor.name }}</div>
              <p class="text-muted">
                {{ doctor.department_name.hospital_department_name }}
              </p>

              <ul>
                <li>
                  <i class="fas fa-map-marker-alt me-2"></i>
                  {{doctor.hospital_name }}
                </li>
                <li>
                  <i class="far fa-clock me-2"></i> {{ doctor.visiting_hour }}
                </li>
                <li>
                  <i class="far fa-money-bill-alt me-2"></i> Consultation Fee:
                  {{ doctor.consultation_fee }} EGP
                </li>
              </ul>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>

      <!-- Clinics Section -->
      <section id="clinics" class="section section-clinics">
        <div class="container">
          <div class="text-center mb-4">
            <h2 class="section-title">Our Clinics</h2>
            <p class="section-subtitle">
              Explore our range of specialist clinics
            </p>
          </div>

          <div class="clinics-container">
            <!-- Clinic Item -->
            <div class="clinic-item">
              <div class="clinic-img">
                <img
                  src="{% static 'MediCare/images/Normal/specialties/specialties-01.png' %}"
                  class="img-fluid"
                  alt="Urology Clinic"
                />
              </div>
              <p class="clinic-name">Urology</p>
            </div>

            <!-- Clinic Item -->
            <div class="clinic-item">
              <div class="clinic-img">
                <img
                  src="{% static 'MediCare/images/Normal/specialties/specialties-02.png' %}"
                  class="img-fluid"
                  alt="Neurology Clinic"
                />
              </div>
              <p class="clinic-name">Neurology</p>
            </div>

            <!-- Clinic Item -->
            <div class="clinic-item">
              <div class="clinic-img">
                <img
                  src="{% static 'MediCare/images/Normal/specialties/specialties-03.png' %}"
                  class="img-fluid"
                  alt="Orthopedic Clinic"
                />
              </div>
              <p class="clinic-name">Orthopedic</p>
            </div>

            <!-- Clinic Item -->
            <div class="clinic-item">
              <div class="clinic-img">
                <img
                  src="{% static 'MediCare/images/Normal/specialties/specialties-04.png' %}"
                  class="img-fluid"
                  alt="Cardiology Clinic"
                />
              </div>
              <p class="clinic-name">Cardiologist</p>
            </div>

            <!-- Clinic Item -->
            <div class="clinic-item">
              <div class="clinic-img">
                <img
                  src="{% static 'MediCare/images/Normal/specialties/specialties-05.png' %}"
                  class="img-fluid"
                  alt="Dentistry Clinic"
                />
              </div>
              <p class="clinic-name">Dentist</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Footer -->
      {% include 'footer.html' %}
      <!-- /Footer -->
    </div>
    <!-- /Main Wrapper -->

    <!-- Scripts -->
    <script src="{% static 'MediCare/js/jquery.min.js' %}"></script>
    <script src="{% static 'MediCare/js/popper.min.js' %}"></script>
    <script src="{% static 'MediCare/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'MediCare/js/all.min.js' %}"></script>
    <script src="{% static 'MediCare/js/script.js' %}"></script>
    <script>
      // Hospital Carousel
      const hospitalCarousel = document.querySelector("#hospitalCarousel");
      const carousel = new bootstrap.Carousel(hospitalCarousel, {
        interval: 1500,
        ride: "carousel",
      });
    </script>
  </body>
</html>
