{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>HealthStack</title>

    <!-- Favicons -->
    <link
      type="image/x-icon"
      href="{% static 'HealthStack-System/images/Normal/favicon.png' %}"
      rel="icon"
    />

    <!-- CSS Files -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/bootstrap.min.css' %}"
    />
    
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/all.min.css' %}"
    />

    <!-- Main CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/style.css' %}"
    />

  </head>

  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Header -->
      <header class="header">{% include 'navbar_home.html' %}</header>

      <div class="page reset-complete">
        <div class="container-fluid">
          <div class="img-container">
            <img
              src="{% static 'HealthStack-System/images/Normal/reset-complete.png' %}"
              class="img-fluid"
              alt="Login Banner"
            />
          </div>
          <div class="msg-container">
            <h1>Password reset complete</h1>

            <p>Your password has been set. You may go ahead and log in now.</p>

            <a class="forgot-link" href="{% url 'login' %}">Go back to login</a>
          </div>
        </div>
      </div>

      <!-- Footer -->
      {% include 'footer.html' %}
      <!-- /Footer -->
    </div>
    <!-- /Main Wrapper -->

    <!-- Scripts -->
    <script src="{% static 'HealthStack-System/js/jquery.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/popper.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/all.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/script.js' %}"></script>

  </body>
</html>
