{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>HealthStack</title>

    <!-- Favicons -->
    <link
      type="image/x-icon"
      href="{% static 'HealthStack-System/images/Normal/favicon.png' %}"
      rel="icon"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}"
    />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}"
    />

    <!-- Main CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/style.css' %}"
    />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="account-page">
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Header -->
      <header class="header">{% include 'navbar_home.html' %}</header>
      <!-- /Header -->

      <div class="reset-page">
        <div class="container-fluid">
          <div class="img-container">
            <img
              src="{% static 'HealthStack-System/images/Normal/forgot-pass.png' %}"
              class="img-fluid"
              alt="HealthStack Login"
            />
          </div>
          <div class="form-container">
            <div class="login-header">
              <h3>Forgot Password?</h3>
              <p class="small text-muted">
                Enter your email to get a password reset link
              </p>
            </div>
            <form method="POST">
              {% csrf_token %}
              <div class="form-group form-focus">
                <input
                  type="email"
                  class="form-control floating"
                  name="email"
                />
                <label class="focus-label">Email</label>
              </div>

              <div class="remember">
                <a class="forgot-link" href="{% url 'login' %}"
                  >Remember your password ?</a
                >
              </div>
              <button
                class="btn btn-primary btn-block btn-lg login-btn"
                type="submit"
              >
                Reset Password
              </button>
            </form>
          </div>
        </div>
      </div>

      <!-- Page Content -->
      <!-- Footer -->
      {% include 'footer.html' %}
      <!-- /Footer -->
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'HealthStack-System/Outside_assets/js/script.js' %}"></script>
  </body>
</html>
